body {
  background-color: #11122d;
}

.App {
  text-align: center;
}

.iconButton,
.contentTask {
  transition: 0.3s !important;
}

.iconButton:hover {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.705);
}

.contentTask:hover {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.705) !important;
}

/* fonts google */
@font-face {
  font-family: Alexandria;
  src: url(/public/fonts/Alexandria-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Alexandria;
  src: url(/public/fonts/Alexandria-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Alexandria;
  src: url(/public/fonts/Alexandria-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Alexandria;
  src: url(/public/fonts/Alexandria-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Alexandria;
  src: url(/public/fonts/Alexandria-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Alexandria;
  src: url(/public/fonts/Alexandria-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Alexandria;
  src: url(/public/fonts/Alexandria-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Alexandria;
  src: url(/public/fonts/Alexandria-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Alexandria;
  src: url(/public/fonts/Alexandria-Black.ttf);
  font-weight: 900;
}
/* ==fonts google== */
